:root {
  --mui-palette-primary-light: #42a5f5;
  --mui-palette-secondary-light: #ba68c8;
  --mui-palette-error-light: #ef5350;
  --mui-palette-warning-light: #ff9800;
  --mui-palette-info-light: #03a9f4;
  --mui-palette-success-light: #4caf50;

  --mui-palette-primary-main: #1976d2;
  --mui-palette-secondary-main: #9c27b0;
  --mui-palette-error-main: #d32f2f;
  --mui-palette-warning-main: #ed6c02;
  --mui-palette-info-main: #0288d1;
  --mui-palette-success-main: #2e7d32;

  --mui-palette-primary-dark: #1565c0;
  --mui-palette-secondary-dark: #7b1fa2;
  --mui-palette-error-dark: #c62828;
  --mui-palette-warning-dark: #e65100;
  --mui-palette-info-dark: #01579b;
  --mui-palette-success-dark: #1b5e20;

  --mui-alert-warning-text: #663c00;
  --mui-alert-warning-border-radius: 4px;
  --mui-alert-warning-font-weight: 400;

  --mui-button-font-weight: 500;
}

:root {

  --pf-t--global--border--width--box--status--default: 1px;
  --pf-t--global--border--radius--pill: var(--mui-alert-warning-border-radius);
  --pf-t--global--border--radius--medium: var(--mui-alert-warning-border-radius);
  --pf-t--global--font--family--100: "Roboto", sans-serif;
  --pf-t--global--font--family--200: "Roboto", sans-serif;
  --pf-t--global--border--color--clicked: var(--mui-palette-primary-main);
  /* --pf-t--global--font--family--body: "Roboto", sans-serif; */



  .pf-v6-c-alert {
    --pf-v6-c-alert--m-warning__title--Color: var(--mui-alert-warning-text);
    --pf-v6-c-alert__icon--MarginInlineEnd: 12px;

    --pf-v6-c-alert--BoxShadow: none;

    padding: 6px 16px;
    /* Customization could be fragile to maintain */
    line-height: 1.43;



    .pf-v6-c-alert__title {
      --pf-v6-c-alert__title--FontWeight: var(--mui-alert-warning-font-weight);

      padding: 8px 0px;

    }

    .pf-v6-c-alert__icon {
      /* Customization could be fragile to maintain */
      opacity: 0.9
    }

  };

  .pf-v6-c-button {
    text-transform: uppercase;
    --pf-v6-c-button--FontWeight: var(--mui-button-font-weight);
    padding: 6px 16px;
    line-height: 1.75;
    letter-spacing: 0.02857em;

  }

  .pf-v6-c-table {
    --pf-v6-c-table__sort--m-selected__button--Color: #000000de;
    --pf-v6-c-table__button--BackgroundColor: none;
    --pf-v6-c-table__button--hover--BackgroundColor: none;

    --pf-v6-c-table__sort__button--hover__sort-indicator--Color: #00000099;
    --pf-v6-c-table__sort__button--hover__text--Color: #00000099;

    .pf-m-align-right { text-align: right; }

    .pf-v6-c-table__button {
      font-size: 0.875rem;
    }

    td.pf-v6-c-table__td {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.43;
      letter-spacing: 0.01071em;
      display: table-cell;
      vertical-align: inherit;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      /* text-align: right; */
      padding: 16px;
      color: rgba(0, 0, 0, 0.87);
    }

    th.pf-v6-c-table__th.pf-v6-c-table__sort {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.5rem;
      letter-spacing: 0.01071em;
      display: table-cell;
      vertical-align: inherit;
      border-bottom: 1px solid rgba(224, 224, 224, 1);
      /* text-align: right; */
      padding: 16px;
      color: rgba(0, 0, 0, 0.87);
    }


  }






  .pf-v6-c-tabs {

    .pf-v6-c-tabs__item.pf-m-current {
      --pf-v6-c-tabs__item--m-current__link--Color: var(--mui-palette-primary-main);
    }

    .pf-v6-c-tabs__link:where(:hover, :focus) {
      --pf-v6-c-tabs__link--BackgroundColor: none;
    }



    .pf-v6-c-tabs__item-text {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.25;
      letter-spacing: 0.02857em;
      background-color: none;
    }
  }





}
